@use "../abstract/mixins" as *;
@use "../abstract/functions" as *;
@use "../abstract/fonts" as *;
@use "../abstract/colors" as *;

// Breakpoint values for min-width operators.
$breakpoints: (
  sm: em(576),
  md: em(768),
  lg: em(992),
  xl: em(1200),
  xxl:em(1600),
  xxxl:em(1920),
);


// Null is mobile, no breakpoint.
$p-font-sizes: (
  null:(rem(18), rem(26)), // Font sizes and line height 
  sm: (rem(18), rem(26)),
  md: (rem(18), rem(26)),
  lg: (rem(18), rem(26)),
  xl: (rem(18), rem(26)),
  xxl:(rem(18), rem(26)), 
  xxxl:(rem(20), rem(28)), 
);


$h1-font-sizes: (
  null: (rem(36), rem(36)),   
  sm: (rem(36), rem(36)),
  md: (rem(40), rem(40)),
  lg: (rem(44), rem(44)),
  xl: (rem(52), rem(52)),
  xxl: (rem(64), rem(64)),
  xxxl: (rem(72), rem(72)),
);

$h2-font-sizes:(
  null:(rem(32), rem(35)), 
  sm:(rem(32), rem(35)),
  md:(rem(36), rem(39)),
  lg:(rem(40), rem(44)), 
  xl:(rem(44), rem(48)), 
  xxl:(rem(48), rem(52)),
  xxxl:(rem(52), rem(57)),
);

$h3-font-sizes: (
  null:(rem(28), rem(40)), 
  sm:(rem(28), rem(40)),
  md:(rem(32), rem(44)),
  lg:(rem(36), rem(50)),
  xl:(rem(40), rem(56)),
  xxl:(rem(42), rem(58)),
  xxxl:(rem(44), rem(62)),
);

$h4-font-sizes: (
  null:(rem(26), rem(36)), 
  sm :(rem(26), rem(36)),
  md :(rem(28), rem(40)),
  lg :(rem(32), rem(44)),
  xl :(rem(36), rem(50)),
  xxl :(rem(38), rem(56)),
  xxxl :(rem(40), rem(56)),
);

$h5-font-sizes: (
  null:(rem(24), rem(34)), 
  sm :(rem(24), rem(34)),
  md :(rem(24), rem(34)),
  lg :(rem(24), rem(34)),
  xl :(rem(26), rem(36)),
  xxl:(rem(28), rem(40)),
  xxxl:(rem(32), rem(44)),
); 


$h6-font-sizes: (
  null: (rem(20), rem(24)),
  sm : (rem(20), rem(24)),
  md : (rem(22), rem(26)),
  lg : (rem(22), rem(26)),
  xl:  (rem(22), rem(28)),
  xxl: (rem(24), rem(28)),
); 


@mixin font-size($fs-map, $fs-breakpoints:$breakpoints){
    @each $fs-breakpoint, $fs-font-size in $fs-map{
        @if $fs-breakpoint == null{
            @include make-font-size($fs-font-size);
        }
        @else{
            @if map-has-key($fs-breakpoints, $fs-breakpoint){
                $fs-breakpoint:map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width:$fs-breakpoint){
                @include make-font-size($fs-font-size);
            }
        }
    }
}


// Utility function for mixin font-size
@mixin make-font-size($fs-font-size){
    @if type-of($fs-font-size) == "list" {
        font-size:nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1){
            line-height: nth($fs-font-size, 2);
        }
    }
    @else{
        font-size: $fs-font-size;
    }
}


// ======== adding both font size and font-family mixins====
h1{
    @include font-size($h1-font-sizes);
}
h2{
    @include font-size($h2-font-sizes);
}
h3{
    @include font-size($h3-font-sizes);
}
h4{
    @include font-size($h4-font-sizes);
}
h5{
    @include font-size($h5-font-sizes);
}
h6{
    @include font-size($h6-font-sizes);
}

h1, h2, h3, h4, h5, h6{
    @include font-heading;
    span{
        font-family: $ff-primary;
    }
}

.bg-colored{
    h1, h2, h3, h4, h5, h6, p, span, small, a, li, label{
        color: $clr-white;
        svg{
            path{
                fill:$clr-white;
                transition:fill 0.3s ease;
            }
        }
    }
}

p, ul, ol, body{
    @include font-size($p-font-sizes);
    @include font-body;
}

.bg-colored{
    p, ul, ol, small, span, a{
        color: $clr-white;
    }
}