@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    outline:none;
    border:none;
    text-transform: capitalize;
    color:$clr-white;
    font-family: $ff-secondary;
    font-size:rem(16);
    line-height: 1.5;
    padding:em(16) em(24);
    @include border-radius(8px);
    @include transition(all, 0.3s, ease);
    z-index: 1;
    @include breakpoint-xl{
        padding:em(16) em(32);
    }
    span{
        color:$clr-white;
    }
    &::before{
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;
        @include full-dimensions;
        transform:translateY(100%);
        transition: transform 0.3s ease;
        z-index: -1;
    }
    &:hover{
        cursor: pointer;
        span{
            color:$clr-white;
        }
        &::before{
            transform:translateY(0);
        }
    }

    &--mail{
        @include flex-center-vertical;
        justify-content: flex-end;
        gap: 6px;
        padding:0;

        span{
            font-size: rem(14);
            line-height: 1.78;
            font-family: $ff-secondary;
            text-decoration: underline;
            text-decoration-color: $clr-white;
            text-transform:lowercase;
            @include link-hover-effect($clr-white,$clr-primary);
            @media only screen and (min-width:1366px){
                font-size: rem(16);
            }
            @include breakpoint-xxl{
                font-size: rem(18);
            }
        }
        svg path{
            width: rem(28);
            height: rem(24);
            fill:$clr-white;
            transition:all 0.3 ease;
        }
        &:hover{
            span{
                background-position:  0 0;
                text-decoration-color: $clr-primary;
            }
            svg path{
                fill:$clr-primary;
            }
        }
    }
}


.btn--primary{
    background: $clr-secondary;
    @include flex-center;
    gap:rem(16);

    &::before{
        background: $clr-primary;
    }
}

.bg-colored{
    .btn--primary{
        &:hover{
            span{
                color:$clr-secondary;
            }
            &::before{
                background: $clr-white;
            }
        }
    }
}


.btn--outline{
    border: 1px solid $clr-primary;
    background-color: $clr-white;
    transition: all 0.3s ease;
    span{
        color:$clr-black;
    }
    &::before{
        background: $clr-secondary;
    }

    &:hover{
        border-color:$clr-secondary;
        span{
            color:$clr-white;
        }
        &::before{
            bottom: 0;
        }
    }
}


.btn--transparent{
    display: inline-flex;
    background:transparent;
    @include flex-center-vertical;
    gap:rem(8);
    padding: 0;
    span{
        @include link-hover-effect($clr-secondary, $clr-primary);
    }
    svg{
        path{
            transition:fill 0.3s ease; 
        }
    }
    .h-call-title,  
    .h-call-text{
        @include link-hover-effect($clr-black, $clr-secondary);
    }
    &:hover{
        .h-call-text, span{
            background-position: 0 0;
        }
        .h-call-text{
            text-decoration: underline;
            text-decoration-color: $clr-secondary;
        }
        svg {
            path{
                fill:$clr-primary;
            }
        }
    }
}
