@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

$s-xsmall: 0.625em;
$s-small: 1.2em;
$border-width: 1px;
$clr-secondary-20-percent-opacity: rgb(168, 36, 36,0.25);
$clr-secondary-10-percent-opacity: rgb(168, 36, 36, 0.1);
$t-base: 0.4s;
$t-fast: 0.2s;
$e-in: ease-in;
$e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);


.checkbox-wrapper {
    .visuallyhidden {
        position: absolute;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        width: 1px;
    }

    .checkbox {
        display: inline-flex;
        justify-content: flex-start;
        color: $clr-white;
        @include breakpoint-md{
            align-items: center;
        }

        .icon-checkbox {
            width: 1em;
            height: 1em;
            margin: auto;
            fill: none;
            stroke-width: 3;
            stroke: currentColor;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            color: $clr-secondary;
            display: inline-block;
    
            path {
                transition: stroke-dashoffset $t-fast $e-in;
                stroke-dasharray: 30px, 31px;
                stroke-dashoffset: 31px;
            }
              
        }
        &:hover{
            cursor: pointer;
        }
    }

    .checkbox + .checkbox {
        margin-top: $s-small;
    }
      
    .checkbox__symbol {
        position: relative;
        display: flex;
        margin-right: calc($s-small * 0.7);
        border: $border-width solid $clr-grey-1;
        border-radius: 0.1em;
        width: 1.25em;
        height: 1.25em;
        transition: box-shadow $t-base  $e-out,   
        background-color $t-base;
        margin-top: 3px;
        @media (min-width: 458px) {
            margin-top: 0;
        }
    }

    .checkbox__textwrapper {
        margin: 0;
        line-height: 1.2;
    } 
}
  

.checkbox__trigger{
    &:checked  + .checkbox__symbol{
        border-color: $clr-secondary;

        .icon-checkbox path {
            transition: stroke-dashoffset $t-base $e-out;
            stroke-dashoffset: 0px;
        }
    }
}
