$clr-primary: #03256c;
$clr-secondary: #f39237;
$clr-tertiary: #f6f6f6;

$clr-blue-light:#08225a;
$clr-blue-light-2:#0d368a;

$clr-black: #000000;
$clr-white: #FFFFFF;

$clr-grey: #b4b4b4;
$clr-grey-2: #c7c7c7;