// --------- Figtree SemiBold -------------
@font-face{
    font-family:"Figtree-SemiBold";
    src:url("../assets/fonts/Figtree/Figtree-SemiBold.woff2");
    src:url("../assets/fonts/Figtree/Figtree-SemiBold.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Figtree/Figtree-SemiBold.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-SemiBold.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-SemiBold.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-SemiBold.svg#Figtree-SemiBold") format('svg');
    font-weight:600;
}

// --------- Figtree Regular -------------
@font-face{
    font-family:"Figtree-Regular";
    src:url("../assets/fonts/Figtree/Figtree-Regular.eot");
    src:url("../assets/fonts/Figtree/Figtree-Regular.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Figtree/Figtree-Regular.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-Regular.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-SemiBold.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-Regular.svg#Figtree-Regular") format('svg');
    font-weight:400;
}


$ff-primary:"Figtree-SemiBold", sans-serif;
$ff-secondary:"Figtree-Regular", sans-serif;
// $ff-tertiary:"Sora-Regular", sans-serif;