@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;



.hero{
    position: relative;
    background: $clr-primary;
    height: 80vh;
   
    &--home{
        @include flex-center-horizontal;
        align-items: flex-end;
        max-height: rem(900); /* Cap the height on larger screens */
        @media only screen and (max-width:em(768)){
            min-height: rem(760); /* Ensure it's not too short on small screens */
        }
        @media only screen and (min-width:em(768)) and (max-width:em(1024)){
            min-height: rem(1024);
        }
    }
    &--about{
        height: 60dvh;
    }
    &--blog{
        height: 50vh;
    }
    &--bruno {
        height: 80vh;
    }

    @include breakpoint-sm{
        height: 60dvh;
    }
    @include breakpoint-xl{
        height: 70dvh;
    }


    &__inner{
        position: relative;
        @include flex-center-vertical;
        height: 100%;
    }

    &__subTitle{
        width: min(100%, 52ch);
    }
}

.hero-span{
    position: relative;

    &::after{
        content:url("../assets/images/line-orange.svg");
        position: absolute;
        left: 0;
        bottom: -10px;
        display: none;
        @include breakpoint-sm{
            display: block;
        }
    }
}

.hero-container{
    position: absolute;
    bottom:0;
}

.hero-card{
    position: absolute;
    bottom:0;
    right: 0;
    width: min(85%, rem(345));
    padding:em(16);
    border-top-left-radius:26px;
    background-color: $clr-tertiary;
    &__header{
        display: flex;
        flex-direction: column;
        span{
            color:$clr-primary;
        }
        .name{
            font-family:$ff-secondary;
            font-size: rem(16);
            @include breakpoint-sm{
                font-size: rem(18);
            }
            @include breakpoint-md{
                font-size: rem(20);
            }
        }
        .designation{
            font-size: rem(14);
            font-family: $ff-secondary;
            @include breakpoint-sm{
                font-size: rem(16);
            }
        }
    }
}


// ==== Insurance Plans ====
.insurance-plans{
    .card-text{
        font-size: rem(16);
        line-height: 1.5;
    }
    small{
        font-size: rem(14);
        line-height: 1.71;
    }
}


// ==============
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(270), 1fr));
    gap: rem(64) rem(24);
    @include breakpoint-xl{
        grid-template-columns: repeat(auto-fill, minmax(rem(224), 1fr));
        gap: rem(36);
    }
    @include breakpoint-xxxl{
        grid-template-columns: repeat(auto-fill, minmax(rem(312), 1fr));
        gap: rem(36);
    }

    &--blog{
        grid-template-columns: repeat(1, 1fr);
        gap: rem(96);
        @include breakpoint-sm{
            grid-template-columns: repeat(2, 1fr);
            gap: rem(96) rem(48);
        }
        @include breakpoint-lg{
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint-xl{
            gap: rem(96) rem(64);
        }
        @include breakpoint-xxl{
            gap: rem(112) rem(96);
        }
    }
}

.card{
    display: flex;
    flex-direction: column;

    .card-img{
        @media screen  and (max-width: em(992)) {
            width: 100%;   
        }
    }
}

.card__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:em(22) em(12);
    border:1px solid $clr-grey-3;
    flex-grow: 1;
}

.card-period-wrapper{
    @include flex-center-vertical;
    gap:rem(32);

    small{
        font-size: rem(14);
    }
}


// ======= Steps
.steps-desc-container{
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 90%;
        transform: translate(25px, 5px);
        background-image: repeating-linear-gradient(180deg,transparent,transparent 6px, $clr-secondary 0, $clr-secondary 14px);
        z-index: -1;
    }
}

.steps{
    &__content{
        display: flex;
        gap:rem(16);
        @include breakpoint-sm{
            gap:rem(32);
        }
    }
    &__subTitle{
        font-size: rem(16);
        line-height: 1.5;
    }
}

.last{
    background: $clr-white;
}


.testimonials-card{
    background: $clr-tertiary;
    padding:em(24) em(16);
    @include border-radius(8px);

    @include breakpoint-sm{
        padding:em(24);
    }

    &__header{
        @include flex-center-vertical;
        gap:rem(16);

        figure{
            @include dimensions(rem(54), rem(54));
            @include border-radius(50%);
            background: $clr-primary;
            flex-shrink: 0;
        }
    }

    .testimonials-desc{
        font-size: rem(16);
        line-height: 1.5;
        color:$clr-black;
    }
}


// About
.counter{
    @include flex-center;
    font-size: clamp(rem(28), 4vw + 1rem, rem(52));
    line-height: 1.08;
    font-family: $ff-primary;
}

.distinctive-card{
    max-width: 80%;
    margin: 0 auto;
   @media (min-width: em(1440)){
    max-width: 64%;
   }
}

.story-timeline{
    position: relative;
    // display: grid;
    // place-items: center;
    // width: min(100%, rem(950));
    // height: rem(400);
    padding:1em;
    z-index: 1;
    // background: white;
    // clip-path: ellipse(50% 40% at 50% 85%);

    &::before{
        content:"";
        position: absolute;
        width: min(100%, rem(950));
        height: rem(700);
        left: 0;
        bottom: 0;
        background: $clr-white;
        clip-path: ellipse(50% 40% at 50% 85%);
        z-index: -1;
    }

    &__year{
        position: relative;
        padding-block: 6px;
        z-index: 1;
        width: rem(120);
        background: $clr-white;

        span{
            color:$clr-black;
            font-size: rem(24);
            font-family: $ff-primary;
            @include breakpoint-sm{
                font-size: rem(28);
            }
            @include breakpoint-md{
                font-size: rem(32);
            }
        }

        &::after{
            content: "";
            position: absolute;
            top: 44%;
            right: -70px;
            width: 65%;
            height: 2px;
            background-image: repeating-linear-gradient(
                to right,
                black 0,
                black 8px, /* Dot size */
                transparent 2px,
                transparent 14px /* Space between dots */
            );
            z-index: -1;
        }
    }

    &__body{
        overflow: hidden;
        p{
            color:$clr-black;
        }
    }

    &__content{
        max-width: 48ch;
        margin-inline: auto;
    }

    &__header{
        width: min(100%, rem(520));
    }

    .swiper-slide-active{
        .story-timeline__year{
           span{
            color:$clr-secondary;
           }
        }
    }
}

.cta-hero-title{
    max-width: 16ch;
}